# certificates and keys
*.pem
*.key
*.csr
*.crt
*.p12
*.der
*.certSigningRequest

# AWS signing helper
aws_signing_helper

# Test files including ARNs
my-test.sh
get-creds.sh
macos-test.sh
get-macos-creds.sh
confidential.png

# IDEs
.idea
.vscode

# MAC OS
.DS_Store
*.DS_Store

# Python
__pycache__*
*/__pycache__*
*.pyc
.venv/*
venv/*
venv
.pytest_cache*
*/.pytest_cache*
